/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/


body {
    font-family: "Roboto", sans-serif;

    background-color: #E6EDF1;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3{
    font-family: "Merriweather", serif;
    font-weight: 700;
}

h1{
    font-size: 6.4rem;
    color: #E67522;
    line-height: 67.2px;

    margin: 0;
}

h2{
    font-size: 6.4rem;
    color: black;

    margin: 0;
}

h3{
    font-size: 3.6rem;
    line-height: 38.9px;
    letter-spacing: -0.7px;

    margin: 0;
}

p{
    font-size: 1.8rem;
    line-height: 27px;
}

/*------------------------------------------------------------------------------
   Component
------------------------------------------------------------------------------*/


/* header */
header{
    background-color: #379AE3;

    position: sticky;
    top: 0;
    z-index: 10;
}

header .titre_header{
    font-family: "Merriweather", serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: black;

    margin: 0;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul{
    display: flex;
}

header ul li{
    padding: 20px;
    list-style: none;
}

header a{
    color: black;
    font-size: 1.8rem;
}

header a:hover{
    color: white;
}

header .billet{
    background-color: white;
    border: 2px solid black;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}

header .billet:hover{
    background-color: #379AE3;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}



/* hero */
.hero{
    background: no-repeat center/100% url("../images/hero.jpg");
    height: 637px;
}

.hero .hero_box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 637px;
}

.hero .hero_cta{
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 470px;
    text-align: center;
    border-radius: 20px;
}

.hero .hero_cta blockquote{
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
    margin: 0;

    padding: 40px 0 40px;
}

.hero .hero_cta a{
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
}

.hero .hero_cta .btn_pdf{
    background-color: #E67522;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
}


.contenu{
    background-color: #E6EDF1; 

    display: flex;
    justify-content: center;
}

.contenu .contenu_text{
    display: flex;
    justify-content: center;
    text-align: center;

    padding-top: 100px;
    padding-bottom: 70px;
}

.contenu .cards_layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-bottom: 100px;
}

.contenu img{
    width: 100%;
}

.contenu .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: #ffffff;
    max-width: 370px;
    text-align: center; 
    
    overflow: visible;
}

.contenu .card_contenu{
    padding: 20px;
}

.contenu a{
    background-color: #E67522;
    border: black solid 2px;

    padding: 10px 20px 10px 20px;

    color: black;
    border-radius: 5px;

    font-size: 1.8rem;

}

.contenu .btn_card{
    margin-bottom: 50px;
}

.contenu .wrapper .acrobatique{
    position: relative;
    overflow: visible;
}

.contenu .best_seller{
    width: 30%;
    
    position: absolute;
    top: -12px;
    right: -12px;
}


footer{
    background-color: #CCDAE3;
    padding: 20px 0 20px;
}

footer li{
    list-style: none;
    background-color: #E67522;
    border-radius: 50px;
    border: 2px solid white;
    
    margin: 0 10px 0 10px;
}

footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
}

footer .material-symbols-outlined{
    color: white;
    font-size: 6rem;
}

footer .icons{
    display: flex;
    justify-content: center;
}

footer p{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 60px;
    margin: 0;
}

.visible{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

img.zoom{
    display: flex;

    width: 800px;
    height: 600px;

    cursor: pointer;

    padding: 30px;

    background-color: white;
    border-radius: 10px;
}

.modale{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 200;

    background-color: rgba(0, 0, 0, 0.8);

    display: none;
    align-items: center;
    justify-content: center;
}

.modale.visible{
    display: flex;
}